<h1 class="bg-orange border container mb-2 p-3 m-auto">Categories</h1>

<div class="d-flex container justify-content-end">
  <%= link_to "New Category", new_group_path, class: "btn btn-outline-secondary btn-lg" %>
</div>

<div id="groups">
  <section class="container grids m-auto">
    <% @groups.each do |group| %>
      <%= render group %>
    <% end %>
  </section>
  <% if @groups.empty? %>
    <p class="text-center">You currently have no bill.</p>
  <% end %>
</div>
