<div>
  <%= link_to "Back to categories", group_path(@group), class: "btn btn-outline-secondary mb-4" %>
</div>
<h1 class="text-center">Bills</h1>
<%= render :partial => 'bill', collection: @bills %>
