/* General style */
body {
  background-color: rgb(231, 231, 238) !important;
  color: #445 !important;
  position: relative;
  font-family: proxima-nova, sans-serif;
}

.back {
  color: #fff !important;
  z-index: 100;
  position: absolute;
}

.bg-blue {
  background: #37c;
}

.bg-white {
  background: #fff;
}

.popup {
  position: absolute;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: rgb(146, 146, 154) !important;
}

a:hover {
  transform: translateY(4px);
}

a:active {
  transform: translateY(1px);
}

.notice {
  color: green !important;
  z-index: 4;
}

.alert {
  color: red !important;
  z-index: 6;
}

/* label */
.required::after {
  content: "*";
  color: red;
}

.btns {
  background-color: rgb(52, 179, 241);
  border-color: rgb(52, 179, 241);
  border-radius: 20% 40%;
  box-shadow: 0 0 4px #eee;
  font-weight: 500;
  z-index: 5;
}

.logout-btn {
  float: right;
  margin-right: 10px;
}

/* Splash page */
.splash-page {
  margin-top: 5%;
  height: 50vh;
  border-radius: 20% 40%;
  background: rgb(241, 84, 17);
  box-shadow: 0 0 6px #eee;
}

.splash-btns {
  width: 100%;
}

.splash-btns:hover {
  background-color: rgb(40, 167, 230);
  transform: translateY(-2px);
}

/* Group page */
.group-page {
  height: 50vh;
  border-radius: 20% 40%;
  box-shadow: 0 0 6px #eee;
}

.grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.6em;
  padding: 1em;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  margin-top: 2em;
  padding: 0.5em;
  background-color: #fff;
  color: #445;
  border: 1px solid;
}

.btn-cont {
  min-width: 100%;
  background: rgb(52, 197, 52);
  color: #fff !important;
  height: 20%;
  position: fixed;
  bottom: 0;
}

.btn-cont a {
  color: #fff !important;
}

.img-container img {
  max-width: 70px;
  max-height: 70px;
  box-shadow: 0 0 4px #eee;
}

.total-amount {
  font-size: 1.5em;
  font-weight: bolder;
}

/* Bills */
.bill {
  font-size: larger !important;
  font-weight: bold;
  width: 80%;
}

.bill:hover {
  transform: translateY(-2px);
}
